:root {
   --branding-color: #273741;
   --secondary-color: #254c5b;
   --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

html,
body {
   width: 100%;
   /* height: 100%; */
   scroll-behavior: smooth;
   font-family: Karla;
   color: var(--branding-color);
}

a {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

h1,
h2,
h3 {
   margin: 0;
}

h1 {
   font-size: calc(44px + 52 * (100vw/1200));
   color: #263236;
}

h2 {
   color: #3E545A;
   opacity: 0.9;
}

h3 {
   color: #3E545A;
   font-size: 40px;
   opacity: 0.9;
   font-weight: 700;
}

h4 {
   color: #3E545A;
   font-size: calc(22px + 4 * (100vw/1500));
   font-weight: 600;
   line-height: 1.5;
}

h6 {
   font-size: calc(30px + 18 * (100vw/1500));
   font-weight: 700;
}

p {

   font-size: 18px;
   line-height: 1.5;
}



/* --------------------------NAVBAR--------------------------- */
.navbar {
   background-color: rgba(255, 255, 255, 0.9);
}

.navbar-logo {
   max-width: 150px;
}

.nav-item {
   padding: 0 10px;
   line-height: 25px;
   display: inline-block;
}

.nav-link {
   color: var(--branding-color);
}

.active {
   color: black;
   font-weight: bold;
}

/* -----------------Main Page---------------------------------- */
.hero {
   text-align: center;
   padding: 140px 0;
   background-image: url('/bg/bg5v2.jpg');
   background-repeat: no-repeat;
   background-position: 100% 90%;
   background-size: cover;
   overflow: hidden;
   min-height: 100vh;
}

.title {
   font-family: Dancing Script;
   font-weight: 700;
}

.subtitle {
   font-size: calc(24px + 8 * (100vw/1200));
}

.main-buttons {
   display: flex;
   justify-content: center;
}

.main-buttons a {
   margin: 20px 40px;
   font-weight: 700;
}

.btn-branding {
   text-decoration: none;
   text-transform: capitalize;
   border-radius: 4px;
   padding: 15px 25px;
   font-size: 18px;
   line-height: 28px;
   box-shadow: var(--box-shadow);
   transition: all ease-in-out 0.3s;
}

.btn_contact {
   background-color: var(--branding-color);
   color: rgb(251, 251, 251);
   border: #263236;
}

.btn_contact:hover {
   background-color: var(--secondary-color);
   color: rgb(251, 251, 251);
}

.btn_projects {
   color: var(--branding-color);
   background-color: rgba(237, 246, 235, 0.5);
   border: 2px solid #273741;
}

.btn_projects:hover {
   background-color: rgba(250, 255, 250, 0.9);
}

.look {
   font-size: calc(30px + 10 * (100vw/1500));
}

.project-display {
   opacity: 1;
   transition: all ease-in-out 0.3s;
}

.project-display:hover {
   opacity: 75%;
}


/* ----------------------------Projects--------------------------------- */
.projects {
   background-color: #fafbfb;
}

.projects-header {
   margin-top: 55px;
   padding-top: 30px;
}

.secondary-title {
   font-size: calc(16px + 6 * (100vw/1500));
   color: #3E545A;
   opacity: 0.9;
}

._1,
._3,
._5 {
   padding: 0 0 0 30px;
}

._2,
._4 {
   padding: 0 30px 0 0;
}

.project-name {
   font-size: calc(24px + 30 * (100vw/1500));
}

.project-description {
   line-height: 1.5;
}

.btn-branding-outline {
   text-decoration: none;
   text-transform: capitalize;
   border-radius: 4px;
   padding: 15px 25px;
   font-size: 18px;
   line-height: 28px;
   background-color: var(--branding-color);
   color: rgb(251, 251, 251);
   border: 1px solid #263236;
}

.btn-branding-outline:hover {
   background-color: var(--secondary-color);
   color: rgb(251, 251, 251);
}

.row-1,
.row-2,
.row-3,
.row-4,
.row-5 {
   padding-top: 60px;
}

@media(max-width:576px) {

   .row-1,
   .row-2,
   .row-3,
   .row-4,
   .row-5 {
      padding-top: 20px;
   }

}

@media(max-width:992px) {
   .projects-header {
      padding: 30px 20px 0;
   }

   .secondary-title {
      padding: 0 15px;
   }

   ._1,
   ._2,
   ._3,
   ._4,
   ._5 {
      padding: 0;
   }
}


/* -------------------------------About-------------------------------- */
.container-about {
   max-width: 900px;
   padding-top: 100px;
}

.my-photo {
   width: 100%;
   max-width: 400px;
}

.get-in-touch {
   text-decoration: none;
   text-transform: capitalize;
   border-radius: 4px;
   padding: 15px 25px;
   font-size: 18px;
   line-height: 28px;
   box-shadow: var(--box-shadow);
   transition: all ease-in-out 0.3s;
   background-color: var(--branding-color);
   color: rgb(251, 251, 251);
   border: 1px solid #263236;
}

.get-in-touch:hover {
   background-color: var(--secondary-color);
   color: rgb(251, 251, 251);
}


@media(max-width:576px) {
   .main-buttons a {
      margin: 20px;
   }

   .my-photo {
      display: block;
      max-width: 300px;
      margin: 0 auto 20px;
   }

   h3 {
      text-align: center;
   }

   .my-story {
      text-align: center;
   }
}


/* ---------------------Contact------------------------- */
.container-contact {
   max-width: 900px;
   padding-top: 100px;
}

.contact-item {
   text-transform: uppercase;
   font-weight: 700;
}

.contact-info {
   font-size: 20px;
   color: var(--branding-color);
}

.contact-info a {

   text-decoration: none;
   color: var(--branding-color);
}

@media (max-width:576px) {
   .contact-item {
      text-align: center;
   }

   .contact-info {
      text-align: center;
   }
}

/* -----------------------Footer---------------------------------- */
.footer {
   margin: 40px 0 10px;
}

.gmail {
   text-decoration: none;
   color: var(--branding-color);
   font-size: 24px;
   line-height: 1;
   font-weight: 700;

}

.gmail:hover {
   color: var(--branding-color);
   text-decoration: none;
}

.social-links a {
   margin: 0 30px;
   font-size: 22px;
   padding: 12px 15px;
   border-radius: 50%;
   width: 22px;
   height: 22px;
   color: #1D5263;
   background-color: #e9f3f6;
   transition: all ease-in-out 0.2s;
}

.social-links a:hover {
   background-color: #163541;
   color: #e9f3f6;
}

.contact-box {
   margin: 0 auto;
   padding: 30px 0;
   background-color: #e9f3f6;
   flex-wrap: wrap;

}

@media (max-width: 576px) {

   .name {
      font-size: 76px;
   }

   .project-name {
      text-align: center;

   }

   .project-description {
      text-align: center;
   }

   .launch-button {
      display: block;
      text-align: center;
      margin: 0 20px;
   }

   .about-me {
      font-size: 64px;
      margin-bottom: 15px;
   }

   .contact-me {
      font-size: 24px;

   }

   .email-link {
      font-size: 18px;
   }

   .container-fluid {
      padding: 0 12px;
   }

   .footer h5 {
      text-align: center;
   }

   .footer p {
      text-align: center;
   }

   .social-links a {
      margin: 0 10px;
   }

}

@media (max-width: 992px) {
   .row-2 {
      flex-direction: column;
      flex-direction: column-reverse;
   }

   .row-4 {
      flex-direction: column;
      flex-direction: column-reverse;
   }


}