:root {
   --branding-color: #273741;
   --secondary-color: #254c5b;
   --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
   margin-top: 100px;
   font-family: Karla;
   color: rgb(33, 30, 36);
}

h1,
h2,
h3 {

   margin: 0;
}

h1 {
   font-size: 96px;
   color: #263236;
}

h2 {
   color: #3E545A;
   font-size: 32px;
   opacity: 0.9;
}

p {

   font-size: 18px;
   line-height: 1.5;
}

.hero {
   text-align: center;
   padding: 120px 0;
   background-image: url('../bg5.jpg');
   background-repeat: no-repeat;
   background-position: 100% 90%;
   background-size: cover;
   margin-bottom: 50px;
}

.navigation-links {
   display: flex;
   margin-top: 40px;
   justify-content: center;
}

.navigation-links a {
   margin: 20px 40px;
   font-weight: 700;
}

.btn-branding {
   text-decoration: none;
   text-transform: capitalize;
   border-radius: 4px;
   padding: 15px 25px;
   font-size: 18px;
   line-height: 28px;
   box-shadow: var(--box-shadow);
   transition: all ease-in 0.3s;
}

._contact {
   background-color: var(--branding-color);
   color: rgb(251, 251, 251);
   border: #263236;
}

._contact:hover {
   background-color: var(--secondary-color);
   color: rgb(251, 251, 251);
}

._about {
   color: var(--branding-color);
   background-color: rgba(237, 246, 235, 0.5);
   border: 2px solid #273741;
}
._about:hover{
background-color: rgba(250, 255, 250, 0.5);
}

.homepage-link {
   color: var(--primary-color);
   text-align: center;
   display: block;
}

.about-paragraphs {
   margin: 30px 0;
}

.about-paragraphs p {
   margin: 10px;
}

.email-link {
   display: flex;
   justify-content: center;
   color: var(--primary-color);
   font-size: 28px;
   text-decoration: none;

}

.email-link:hover {
   text-decoration: underline;
}

.name {
   font-family: Dancing Script;
}

.name {
   font-weight: 700;
}

.description {
   font-weight: 500;
}


.first-row {
   margin-bottom: 25px;
}

.navbar-logo {
   max-width: 150px;

}


@media (max-width: 576px) {

   .name {
      font-size: 76px;
   }

   .project-name {
      text-align: center;
      font-size: 36px;
   }

   .project-description {
      text-align: center;
   }

   .launch-button {
      display: block;
      text-align: center;
      margin: 0 20px;
   }

   .about-me {
      font-size: 64px;
      margin-bottom: 15px;
   }

   .contact-me {
      font-size: 24px;

   }

   .email-link {
      font-size: 18px;
   }

   .container-fluid {
      padding: 0 12px;
   }

   .first-row {
      margin-bottom: 0;
   }

}

@media (max-width: 992px) {
   .row-2 {
      flex-direction: column;
      flex-direction: column-reverse;
   }

   .row-4 {
      flex-direction: column;
      flex-direction: column-reverse;
   }

   .project-name {
      font-size: 36px;
   }

}


@media (max-width: 1200px) {
   .project-name {
      font-size: 42px;
   }


}